header {
    height: 60px;
    width: 100%;
    padding: 0 20px;
    background-color: #fff;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
}

.logo-container {
    padding-top: 6px;
}

.hamburger-icons {
    position: relative;
    width: 25px;
    height: 25px;
}

/* MOBILE VIEW */

.menu-btn {
    position: absolute;
    top: 7px;
    /* z-index: 3; */
    cursor: pointer;
    transform: scale(0);
    transition: 0.1s ease-in-out;
}

.close-btn {
    cursor: pointer;
    position: absolute;
    top: 4px;
    left: 3px;
    /* z-index: 3; */

    transform: scale(0);
    transition: 0.1s ease-in-out;
}

.menu-btn.active,
.close-btn.active {
    transform: scale(1);
}

.menu-view-container {
    width: 100%;
    padding: 0 20px;
}

.mobile-menu-container {
    position: absolute;
    top: 80px;
    left: 0;

    z-index: -10;
    width: 100%;
    height: 325px;
    padding: 0 20px;

    display: flex;
    flex-direction: column;
    align-items: center;

    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0, 0.6);

    transform: translateY(-1000px);
    transition: 0.23s ease-in-out;
}

.mobile-nav-wrapper {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 5px;
}

.mobile-menu-container.active {
    transform: translateY(0);
}

ul {
    /* height: 100%; */
    list-style: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 40px 0 0;
    gap: 30px;

    font-size: 1.25rem;
}

.desktop-view-container,
.nav-btn {
    display: none;
}

.desktop-view-container ul li {
    position: relative;
    padding: 0 5px;
}

.desktop-view-container ul li::after {
    position: absolute;
    content: "";
    width: 0%;
    height: 4px;
    background-image: linear-gradient(
        90deg,
        hsl(136, 65%, 51%),
        hsl(192, 70%, 51%)
    );
    bottom: -20px;
    left: 0;

    transition: 0.2s;
}

.desktop-view-container ul li:hover::after {
    width: 100%;
}

@media (min-width: 768px) {
    .mobile-menu-container {
        display: none;
    }

    .mockup-btn.nav-btn {
        display: none;
    }

    .gray {
        background-color: transparent;
    }

    header {
        justify-content: space-evenly;
    }

    .hamburger-icons {
        display: none;
    }

    .mobile-view-container {
        display: none;
    }

    ul {
        flex-direction: row;
        align-items: center;
        padding: 0;
        font-size: 1rem;
        color: hsl(233, 8%, 62%);
    }

    .desktop-view-container {
        display: block;
    }

    .nav-btn {
        display: block;
        width: 150px;
        height: 40px;
        font-size: 0.9rem;
    }
}

@media (min-width: 1024px) {
    .mockup-btn.nav-btn {
        display: block;
    }

    header {
        height: 70px;
        padding: 0 100px;
        justify-content: space-between;
    }
}
