:root {
    --grayish: hsl(233, 8%, 62%)
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    width: 100%;
    min-width: 100%
}

body {
    width: 100%;
    min-width: 100%;
    font-family: 'Public Sans', sans-serif;
}
/* GLOBAL UTILITIES */

.gray {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    background-color: rgba(0,0,0, .2);
}

.hidden {
    display: none !important;
}

/*  */
main {
    width: 100%;
}

.mockup-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.mockup-img-container {
    width: 100%;
    height: 50%;
    background-image: url('images/bg-intro-mobile.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}

.mockup-desc-container {
    padding: 0 30px;
    text-align: center;

    max-width: 550px;
    /* display: flex;
    flex-direction: column;
    align-items: center; */

}

.mockup-img {
    width: 350px;
}

.mockup-title {
    font-size: 2.75rem;
    font-weight: 300;

    color: rgba(0,0,0, .8);
    padding-bottom: 15px;
}

.mockup-desc {
    color: var(--grayish);
    line-height: 26px;

    padding-bottom: 30px;
}

.mockup-btn {
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: .5px;
    color: white;
    width: 175px;
    height: 50px;

    border: none;
    border-radius: 50px;
    background-image: linear-gradient(90deg, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
}



/* SECOND SECTION */

.second-section-container {
    background-color: rgba(0,0,0,.08);
    text-align: center;
    padding: 50px 25px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    max-width: 325px;
}

.second-title {
    font-size: 2rem;
    font-weight: 300;

    padding-bottom: 15px;
}

.second-desc, .card-desc {
    color: var(--grayish);
    padding-bottom: 35px;
}

.second-desc {
    padding-bottom: 50px;
}

.card-title {
    font-weight: 300;
    font-size: 1.5rem;
}

.card-desc, .second-desc {
    line-height: 26px;
}

.card-title, .card-img {
    padding-bottom: 20px;
}

/* THIRD SECTION */

.third-section {
    text-align: center;
    padding: 50px 25px;
    background-color: #f0f0f0;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.third-title {
    font-size: 2rem;
    font-weight: 300;
    padding-bottom: 30px;
}

.article {
    padding-bottom: 40px;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 5px;

    max-width: 325px;
}

.article-img {
    width: 100%;
    padding-bottom: 30px;
    border-radius: 5px;
}

.article-author, .article-title, .article-desc {
    text-align: start;
    padding: 0 30px;
}

.article-author {
    font-size: .60rem;
    color: var(--grayish);
    padding-bottom: 15px;
}

.article-title {
    font-weight: 300;
    font-size: 1rem;

    padding-bottom: 10px;
}

.article-desc {
    font-size: .75rem;

    color: var(--grayish);
    line-height: 18px;
}

/* FOOTER */

footer {
    height: 50%;
    text-align: center;
    padding: 50px 50px;
    background-color: hsl(233, 26%, 24%);

    display: flex;
    flex-direction: column;
    align-items: center;

}

.footer-logo {
    padding-bottom: 30px;
}

.socmed-container {
    width: 200px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
}

.socmed-icon {
    width: 25px;
}

.footer-nav-1, .footer-nav-2 {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-bottom: 25px;
}

.footer-nav-2 {
    padding-bottom: 50px;
}

.footer-nav-1 a, .footer-nav-2 a {
    color: #fff;
    text-decoration: none;
    font-weight: 300;
}

.footer-btn {
    margin-bottom: 30px;
}

.copyright {
    color: var(--grayish);
}

/* FOLLOW UP STYLES */


li:hover {

    color: black;
    cursor: pointer;
}

button {
    transition: .2s;
}

button:hover {
    background-image: linear-gradient(90deg, hsla(136, 65%, 51%, 0.737), hsla(192, 70%, 51%, 0.599));
    transform: scale(1.05);
    cursor: pointer;
}


@media (min-width: 768px) {
    .cards-container, .article-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px;
    }

    .mockup-img-container {
        background-image: url('images/bg-intro-desktop.svg');
    }

    footer {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }

    .socials {
        text-align: start;
    }

    .footer-nav-1, .footer-nav-2, .socmed-container, .socials {
        text-align: start;
        flex-grow: 1;
        padding: 0;
    }

    .footer-nav-3 {
        flex-grow: 2;
        text-align: end;
    }

}

@media (min-width: 1440px) {

    section {
        padding-left: 150px !important;
        padding-right: 150px !important;
    }

    section:first-child {
        padding: 0 !important
    }

    .cards-container, .article-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 50px;
    }

    .cards-container {
        text-align: start;
    }

    .second-section-container {
        justify-content: flex-end;
    }

    .third-title {
        width: 100%;
    }

    .second-desc-container, .third-section {
        width: 100%;
        text-align: start;
    }
    

    .mockup-section {
        flex-direction: row;
    }

    .mockup-img-container {
        background-image: url('images/bg-intro-desktop.svg');
        justify-content: flex-end;
        height: 100%;
        order: 2;
    }
    
    .mockup-img {
        width: 85%;
    }

    .mockup-desc-container {
        order: 1;
        text-align: start;
        padding-left: 110px;
    }
}